[phases.setup]
nixPkgs = ["nodejs_20"]

[phases.install]
cmds = ["npm ci --legacy-peer-deps || npm install --legacy-peer-deps"]

[phases.build]
cmds = ["npx prisma generate", "NODE_OPTIONS=--max-old-space-size=4096 npm run build"]

[start]
cmd = "npx prisma db push --accept-data-loss && npm start"
